# Java / Maven
**/target/
*.class

# IntelliJ
.idea/
*.iml
out/

# VSCode
.vscode/

# Node
**/node_modules/
frontend/dist/

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Docker
docker-volume-data/